#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/home/xaled/Pictures/clearcache.png
Name[en_US]=clar cache
Exec=gksudo /home/xaled/apps/scripts/clear.cache.sh
Name=clar cache
Icon=mate-panel-launcher
