#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[en_US]=/home/xaled/Pictures/flashcards.png
URL=file:///home/xaled/Documents/flashcards.ods
Name[en_US]=flashcards
Name=flashcards
Icon=/home/xaled/Pictures/flashcard_icon-01.gif
